<div class="row no-gutters justify-content-center">
    <div class="col-12 col-sm-6 col-md-8">
        <form (ngSubmit)="submitOrder()" #createOrderForm="ngForm">
            <h1 class="mt-3 mb-3">
                Umawianie wizyty
            </h1>
            <div class="mt-3 mb-3">
                <h3>Termin wizyty:</h3>
                <div class="row my-2">
                    <div class="col-6">
                        <my-date-picker name="selectedDate" [options]="termDatePickerOptions" locale="pl" placeholder="Wybierz datę..." (dateChanged)="onDateChanged($event)"
                            required></my-date-picker>
                    </div>
                    <div class="col-6">
                        <select class="custom-select" name="selectedHour" [disabled]="!hours.length" required [(ngModel)]="selectedHour">
                            <option selected hidden [value]="undefined">Wybierz godzinę...</option>
                            <option *ngFor="let hour of hours" [value]="hour" [disabled]="isHourDisabled(hour)">{{hour}}:00 {{isHourDisabled(hour) ? 'Zajęte!' : ''}}</option>
                        </select>
                    </div>
                </div>
                <h3>Samochód:</h3>
                <div class="form-inline">
                    <select class="custom-select my-2 mr-2" name="carId" [(ngModel)]="model.carId" required>
                        <option selected hidden [value]="undefined">Wybierz samochód...</option>
                        <option *ngFor="let car of cars" [value]="car.id">{{car.name}}</option>
                    </select>
                    <button type="button" class="btn btn-primary" (click)="openCreateCarModal()">Dodaj nowy</button>
                </div>

                <h3>Usługi:</h3>
                <div class="form-inline">
                    <select class="custom-select my-2 mr-2" name="serviceIds" [(ngModel)]="selectedServiceId" [disabled]="!availableServices().length">
                        <option selected hidden [value]="undefined">Wybierz usługę</option>
                        <option *ngFor="let service of availableServices(); let i = index" [value]="service.id">{{service.name}}</option>
                    </select>
                    <button type="button" class="btn btn-primary" (click)="addSelectedService()" [disabled]="!selectedServiceId">Dodaj do listy</button>
                </div>
                <div class="alert alert-dark" role="alert" *ngIf="getService(selectedServiceId); let selectedService">
                    <strong>{{selectedService.name}}</strong> {{selectedService.price}}zł
                    <div>
                        {{selectedService.description}}
                    </div>
                </div>

                <h5>Wybrane usługi:</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let serviceId of model.serviceIds; let i = index">
                            <ng-container *ngIf="getService(serviceId); let service">
                                <td>{{service.name}}</td>
                                <td>{{service.description}}</td>
                                <td>{{service.price}}zł</td>
                                <td><button type="button" class="btn btn-danger btn-sm" (click)="removeService(i)">Usuń</button></td>
                            </ng-container>
                        </tr>
                        <tr *ngIf="!model.serviceIds.length">
                            <td colspan="4">Brak wybranych usług.</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Uwagi:</h3>
                <textarea class="form-control" placeholder="Wpisz swoje uwagi..." name="comment" [(ngModel)]="model.comment"></textarea>
            </div>
            <div *ngFor="let invalidProperty of errors">
                <div class="alert alert-danger" *ngFor="let error of invalidProperty | validationError">{{error}}</div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!createOrderForm.form.valid">Umów wizytę</button>
        </form>
    </div>
</div>