<h1>
  Zlecenia
</h1>

<div class="margins">

  <accordion>
    <accordion-group heading="Zlecenie nr 69326">
      <accordion-group heading="Usługi">
        <!--for ile usług jest w zleceniu-->

        <accordion-group heading="Wymiana opon">
            Data: Cena:
        </accordion-group>

        <accordion-group heading="Naprawa silnika">
            Data: Cena:
        </accordion-group>
        
      </accordion-group>

        <accordion-group heading="Posumowanie">
          Szacowany koszt całej naprawy: Przewidywany czas ukończenia zlecenia:
        </accordion-group>
    </accordion-group>

    <accordion-group heading="Zlecenie nr 39326">
        <accordion-group heading="Usługi">
          <!--for ile usług jest w zleceniu-->
  
          <accordion-group heading="Wymiana opon">
              Data: Cena:
          </accordion-group>
  
          <accordion-group heading="Wymiana żarówki">
              Data: Cena:
          </accordion-group>
          
        </accordion-group>
  
          <accordion-group heading="Posumowanie">
            Szacowany koszt całej naprawy: Przewidywany czas ukończenia zlecenia:
          </accordion-group>
      </accordion-group>

  </accordion>

</div>