<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="./">Serwis Samochodowy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Przełącz nawigację" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="./">Zlecenia
                    <span class="badge badge-secondary">{{orderCount}}</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *appIsEmployee="false">
                <a class="nav-link" routerLink="./book">Umów wizytę</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *appIsEmployee>
                <a class="nav-link" routerLink="./clients">Klienci</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *appIsEmployee>
                <a class="nav-link" routerLink="./services">Usługi</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *appIsEmployee>
                <a class="nav-link" routerLink="./parts">Części</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *appIsEmployee>
                <a class="nav-link" routerLink="./schedules">Terminy</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" routerLink="./notifications">
                    Powiadomienia
                    <span class="badge badge-secondary">{{ unreadCount }}</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="!user.isCompany" class="nav-link" routerLink="./profile">{{ user | fullName }}</a>
                <a *ngIf="user.isCompany" class="nav-link" routerLink="./profile">{{ user.companyName }}
                    <span class="badge badge-secondary">Firma</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logOut($event)">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>