<h1 class="mt-3 mb-3">
    Klienci
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Klient</th>
            <th scope="col">Email</th>
            <th scope="col">Data rejestracji</th>
            <th scope="col">Najnowsza naprawa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients" routerLink="./../clients/{{client.id}}">
            <td>{{client.id}}</td>
            <td *ngIf="!client.isCompany"> {{client | fullName}} </td>
            <td *ngIf="client.isCompany"> {{client.companyName}}
                <span class="badge badge-secondary">Firma</span>
            </td>
            <td>{{client.email}}</td>
            <td>{{client.createdAt | date:'yyyy-MM-dd hh:mm'}}</td>
            <td *ngIf="client.lastOrder">{{client.lastOrder.id}}: {{client.lastOrder.car.name}}</td>
            <td *ngIf="!client.lastOrder">Brak</td>
        </tr>
    </tbody>
</table>