<div [ngClass]="{'row': orders || cars}">
    <div [ngClass]="{'col-6': orders || cars}">
        <h1 *ngIf="!client.isCompany" class="mt-3 mb-3"> {{client | fullName}} </h1>
        <h1 *ngIf="client.isCompany" class="mt-3 mb-3"> {{client.companyName}}
            <span class="badge badge-secondary">Firma</span>
        </h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{client.id}}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{client.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Adres</th>
                    <td>{{client.address}}</td>
                </tr>
                <tr>
                    <th scope="row">Numer telefonu</th>
                    <td>{{client.phoneNumber}}</td>
                </tr>
                <tr>
                    <th scope="row">{{client.isCompany ? 'NIP' : 'PESEL'}}</th>
                    <td>{{client.identificationNumber}}</td>
                </tr>
                <tr *ngIf="client.isCompany">
                    <th scope="row">Osoba reprezentująca</th>
                    <td>{{client | fullName}}</td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-warning" (click)="openEditClientModal(editClient)">Edytuj</button>
        <ng-container *ngIf="orders">
            <h4 class="mt-3 mb-3"> Historia zleceń </h4>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Pojazd</th>
                        <th scope="col">Termin wizyty</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" [routerLink]="['/dashboard/orders', order.id]" class="clickable-row">
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.car.id}}: {{order.car.name}}</td>
                        <td>{{order.term | date:'yyyy-MM-dd hh:mm'}}</td>
                        <td>{{order.state | orderState}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
    <div *ngIf="cars" class="col-6">
        <h4 class="mt-3 mb-3"> Pojazdy </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{car.id}}</td>
                    <td>{{car.name}}</td>
                    <td>
                        <button type="submit" class="btn btn-warning btn-sm" (click)="openEditCarModal(car)">Edytuj</button>
                        <button type="submit" class="btn btn-danger btn-sm" (click)="openRemoveCarModal(removeCarTemplate, car)">Usuń</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success" (click)="openAddCarModal()">Dodaj</button>
    </div>
</div>
<ng-template #editClient>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edytowanie klienta</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editClientModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <label for="email">Adres email:</label>
            <input type="email" [(ngModel)]="clientModel.email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder="Wpisz email">

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Imię:</label>
                    <input type="text" [(ngModel)]="clientModel.firstName" class="form-control" id="firstName" name="firstName" placeholder="Wpisz imię">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Nazwisko:</label>
                    <input type="text" [(ngModel)]="clientModel.lastName" class="form-control" id="lastName" name="lastName" placeholder="Wpisz nazwisko">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="address">Adres:</label>
                    <input type="text" [(ngModel)]="clientModel.address" class="form-control" id="address" name="address" placeholder="Adres"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phoneNumber">Numer telefonu:</label>
                    <input type="tel" [(ngModel)]="clientModel.phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Wpisz numer">
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="company" name="isCompany" [(ngModel)]="clientModel.isCompany">
                    <label class="form-check-label" for="company">
                        Firma
                    </label>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-md-6 mb-3" *ngIf="clientModel.isCompany">
                    <label for="company-name">Nazwa firmy:</label>
                    <input type="text" class="form-control" id="company-name" name="companyName" placeholder="Wprowadź nazwę firmy" [(ngModel)]="clientModel.companyName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="identification-number">{{ clientModel.isCompany ? 'NIP' : 'PESEL'}}:</label>
                    <input type="text" class="form-control" id="identification-number" name="identificationNumber" placeholder="Wprowadź {{ clientModel.isCompany ? 'NIP' : 'PESEL'}}"
                        [(ngModel)]="clientModel.identificationNumber" />
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="employee" name="isEmployee" [(ngModel)]="clientModel.isEmployee">
                    <label class="form-check-label" for="employee">
                        Pracownik (nadaje uprawnienia administratorskie)
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="updateClient()">Zapisz</button>
            <br>
        </form>
    </div>
</ng-template>
<ng-template #removeCarTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Usuwanie pojazdu</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="removeCarModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <p>Czy na pewno chcesz usunąć ten pojazd?</p>
            <button type="submit" class="btn btn-danger" (click)="removeCar()">Usuń</button>
        </form>
    </div>
</ng-template>