<h1>
  Powiadomienia
</h1>

<div class="margins">

  <div class="checkbox">
    <label>
      <input type="checkbox" [(ngModel)]="oneAtATime"> Otwórz tylko jeden na raz
    </label>
  </div>

  <accordion [closeOthers]="oneAtATime">
    <accordion-group heading="Powiadomienie 1">
      Szczegóły
    </accordion-group>
    <accordion-group heading="Powiadomienie 2">
      <p>Szczegóły</p>
    </accordion-group>
    <accordion-group heading="Powiadomienie 3">
      <p>Szczegóły</p>
    </accordion-group>
  </accordion>
  
</div>