<h1 class="mt-3 mb-3">
    Zlecenie numer: {{order.id}}
</h1>
<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <tbody>
                <tr *appIsEmployee>
                    <td scope="row">Klient</td>
                    <td>
                        <a *ngIf="!order.client.isCompany" [routerLink]="['./../../clients/', order.client.id]">{{order.client | fullName}}</a>
                        <ng-container *ngIf="order.client.isCompany">
                            <a [routerLink]="['./../../clients/', order.client.id]">{{order.client.companyName}}</a>
                            <span class="badge badge-secondary">Firma</span>
                        </ng-container>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Termin wizyty</td>
                    <td>
                        <ng-container *appIsEmployee="false">
                            {{order.term | date:'yyyy-MM-dd hh:mm'}}
                        </ng-container>
                        <input *appIsEmployee type="datetime" [(ngModel)]="updateOrderDto.term" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td scope="row">Samochód</td>
                    <td>
                        <ng-container *appIsEmployee="false">
                            {{order.car.name}}
                        </ng-container>
                        <select *appIsEmployee class="custom-select my-2 mr-2" name="carId" [(ngModel)]="updateOrderDto.carId" required>
                            <option *ngFor="let car of cars" [value]="car.id">{{car.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Opis</td>
                    <td>
                        <ng-container *appIsEmployee="false">
                            {{order.comment ? order.comment : 'Brak'}}
                        </ng-container>
                        <textarea *appIsEmployee [(ngModel)]="updateOrderDto.comment" class="form-control" rows="2" id="comment"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Status</td>
                    <td>
                        <ng-container *appIsEmployee="false">
                            {{order.state | orderState}}
                        </ng-container>
                        <select *appIsEmployee class="custom-select my-2 mr-2" name="state" [(ngModel)]="updateOrderDto.state" required>
                            <option *ngFor="let state of states" [value]="state">{{state | orderState}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Usługi:</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Ukończono</th>
                    <th scope="col" *appIsEmployee>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceId of updateOrderDto.serviceIds; let i = index">
                    <ng-container *ngIf="getService(serviceId); let service">
                        <td>{{service.name}}</td>
                        <td>{{service.description}}</td>
                        <td>{{service.price}}zł</td>
                        <td>{{isCompleted(service) ? 'Tak' : 'Nie'}}</td>
                        <td *appIsEmployee>
                            <button *ngIf="canToggleCompleted(serviceId)" type="button" class="btn btn-warning btn-sm" (click)="toggleCompleted(serviceId)">Zmień status</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeService(i)">Usuń</button>
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="!order.orderServices.length">
                    <td colspan="5">Brak wybranych usług.</td>
                </tr>
            </tbody>
        </table>
        <ng-container *appIsEmployee>
            <div class="form-inline">
                <select class="custom-select mr-3" name="serviceIds" [(ngModel)]="selectedServiceId" [disabled]="!availableServices().length">
                    <option selected hidden [value]="undefined">Wybierz usługę</option>
                    <option *ngFor="let service of availableServices()" [value]="service.id">{{service.name}}</option>
                </select>
                <button type="button" class="btn btn-primary" (click)="addSelectedService()" [disabled]="!selectedServiceId">Dodaj usługę do listy</button>
            </div>

            <div class="mt-3" *ngIf="isDirty">
                <button type="button" class="btn btn-primary mr-2" (click)="updateOrder()">Zatwierdź zmiany</button>
            </div>
        </ng-container>
    </div>

    <div class="col">
        <h3>Wiadomości:</h3>
        <app-messages></app-messages>
    </div>
</div>