<br>
<h1>Zlecenia</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nr zlecenia</th>
      <th scope="col">Usługi</th>
      <th scope="col">Klient</th>
      <th scope="col">Status</th>
      <th scope="col">Data</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>93473</td>
      <td>Wymiana silnika</td>
      <td>Jan Kowalski</td>
      <td>W trakcie realizacji</td>
      <td>30.06.2018</td>
      <td>
          <button type="button" class="btn btn-primary" (click)="openModal(template)">Edytuj</button>

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edycja usługi</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="services">Usługa:</label>
                      <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
                    </div>
                    <div class="form-group">
                        <label for="services">Status:</label>
                        <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
                      </div>
                    <div class="form-group">
                      <label for="price">Data:</label>
                      <input type="servicesPrice" class="form-control" id="exampleInputPassword1" placeholder="Wpisz datę wykonania">
                    </div>
                <button type="button" class="btn btn-primary">
                  Zatwierdź
                </button>
              </form>
            </div>
          </ng-template>
      </td>
      <td>
          <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

          <ng-template #template2>
            <div class="modal-header">
              <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <button type="button" class="btn btn-primary">
                  Zatwierdź
                </button>
              </form>
            </div>
          </ng-template>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>87546</td>
      <td>Naprawa klimatyzacji</td>
      <td>Gerard Małopolski</td>
      <td>Wykonano</td>
      <td>15.02.2018</td>
      <td>
          <button type="button" class="btn btn-primary" (click)="openModal(template)">Edytuj</button>

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edycja usługi</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="services">Usługa:</label>
                      <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
                    </div>
                    <div class="form-group">
                        <label for="services">Status:</label>
                        <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
                      </div>
                    <div class="form-group">
                      <label for="price">Data:</label>
                      <input type="servicesPrice" class="form-control" id="exampleInputPassword1" placeholder="Wpisz datę wykonania">
                    </div>
                <button type="button" class="btn btn-primary">
                  Zatwierdź
                </button>
              </form>
            </div>
          </ng-template>
      </td>
      <td>
          <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

          <ng-template #template2>
            <div class="modal-header">
              <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <button type="button" class="btn btn-primary">
                  Zatwierdź
                </button>
              </form>
            </div>
          </ng-template>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>986547</td>
      <td>Wymiana opon</td>
      <td>Anna Dunka</td>
      <td>Adam</td>
      <td>Oddano</td>
      <td>
          <button type="button" class="btn btn-primary" (click)="openModal(template)">Edytuj</button>

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edycja usługi</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="services">Usługa:</label>
                  <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
                </div>
                <div class="form-group">
                    <label for="services">Status:</label>
                    <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
                  </div>
                <div class="form-group">
                  <label for="price">Data:</label>
                  <input type="servicesPrice" class="form-control" id="exampleInputPassword1" placeholder="Wpisz datę wykonania">
                </div>
                <button type="button" class="btn btn-primary">
                  Zatwierdź
                </button>
              </form>
            </div>
          </ng-template>
      </td>
      <td>
          <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

          <ng-template #template2>
            <div class="modal-header">
              <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <button type="button" class="btn btn-primary">
                  Zatwierdź
                </button>
              </form>
            </div>
          </ng-template>
      </td>
    </tr>
  </tbody>
</table>