<h1>
  Edycja profilu</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="exampleInputEmail1">Adres email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz email">
        <small id="emailHelp" class="form-text text-muted">Twój mail będzie bezpieczny.</small>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="name">Imię:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Wpisz imię">
        </div>
        <div class="col-md-6 mb-3">
          <label for="surname">Nazwisko:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Wpisz nazwisko">
        </div>
      </div>

      <div class="form-group">
        <label for="validationServer03">Adres:</label>
        <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
        <div class="invalid-feedback">
          Proszę wprowadzić prawidłowy adres.
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="telephoneNumber">Numer telefonu:</label>
          <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Wpisz numer">
        </div>
        <div class="col-md-6 mb-3">
          <label for="nipPesel">NIP/PESEL:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Wpisz NIP/PESEL">
        </div>
      </div>

      <button type="button" class="btn btn-primary"> Zapisz zmiany </button>
      
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
