<br>
<h1>Klienci</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Klient</th>
      <th scope="col">Mechanik</th>
      <th scope="col">Naprawa</th>
      <th scope="col">Data</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jan Kowalski</td>
      <td>Marek</td>
      <td>Wymiana silnika</td>
      <td>30.06.2018</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

        <ng-template #template2>
          <div class="modal-header">
            <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Gerard Małopolski</td>
      <td>Marek</td>
      <td>Naprawa klimatyzacji</td>
      <td>15.02.2019</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

        <ng-template #template2>
          <div class="modal-header">
            <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Anna Dunka</td>
      <td>Adam</td>
      <td>Wymiana opon</td>
      <td>30.05.2018</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

        <ng-template #template2>
          <div class="modal-header">
            <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>