<div>
  <tabset>

    <tab *ngIf="userType === uType.worker" heading="Klienci ">
      <ng-template tabHeading>
        <span class="badge badge-secondary">{{clientsNumber}}</span>
      </ng-template>
      <app-clients></app-clients>
    </tab>

    <tab *ngIf="!(userType === uType.guest)" heading="Zlecenia ">
      <ng-template tabHeading>
        <span class="badge badge-secondary">{{userType === uType.worker ? workerOrdersNumber : clientOrdersNumber }}</span>
      </ng-template>
      <app-orders-worker *ngIf="userType === uType.worker"></app-orders-worker>
      <app-orders *ngIf="userType === uType.client"></app-orders>
    </tab>

    <tab *ngIf="userType === uType.worker" heading="Usługi ">
      <ng-template tabHeading>
        <span class="badge badge-secondary">{{servicesNumber}}</span>
      </ng-template>
      <app-services></app-services>
    </tab>

    <tab *ngIf="userType === uType.client" heading="Umów wizytę ">
      <ng-template tabHeading>
        <span class="badge badge-secondary"></span>
      </ng-template>
      <app-visits></app-visits>
    </tab>

    <tab *ngIf="!(userType === uType.guest)" heading="Powiadomienia " customClass="align-right">
      <ng-template tabHeading>
        <span class="badge badge-secondary">{{userType === uType.guest ? workerNotificationsNumber : clientNotificationsNumber }}</span>
      </ng-template>
      <app-messages></app-messages>
    </tab>

    <tab *ngIf="!(userType === uType.guest)" heading="Profil">
      <ng-template tabHeading></ng-template>
      <app-profile></app-profile>
    </tab>
    <tab *ngIf="!(userType === uType.guest)" heading="Wyloguj" (select)="logout($event)"></tab>

    <button *ngIf="userType === uType.guest" type="button" class="btn btn-primary" (click)="logout($event)">Jesteś wylogowany. Wróć na stronę główną</button>
    
  </tabset>
</div>