<h1 class="mt-3 mb-3">
    Usługi
</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dzień</th>
            <th>Godzina</th>
            <th>Usuwanie</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let schedule of schedules">
            <td>{{schedule.id}}</td>
            <td>{{schedule.weekDay | weekDay}}</td>
            <td>{{schedule.hour}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="openDeleteScheduleModal(deleteScheduleTemplate, schedule)">Usuń</button>
                <ng-template #deleteScheduleTemplate>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Usuń termin</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteScheduleModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Czy na pewno chcesz usunąć termin?</label>
                        </div>
                        <button type="button" class="btn btn-primary mt-4" (click)="deleteScheduleModal.hide();deleteSchedule();">Zatwierdź</button>

                    </div>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-success mt-4" (click)="openNewScheduleModal(newSchedule)">Dodaj termin</button>
<ng-template #newSchedule>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Dodaj nowy termin</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newScheduleModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Dzień tygodnia:</label>
            <select class="custom-select my-2 mr-2" name="partIds" [(ngModel)]="model.weekDay">
                <option selected hidden [value]="undefined">Wybierz dzień</option>
                <option *ngFor="let weekDay of weekDays; let i = index" [value]="weekDay">{{weekDay | weekDay}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Godzina:</label>
            <input type="number" step="1" min="0" max="23" class="form-control" placeholder="Wpisz godzine" [(ngModel)]="model.hour"
                required>
        </div>
        <button type="button" class="btn btn-success mt-4" (click)="newScheduleModal.hide();createSchedule(); ">Dodaj</button>

    </div>
</ng-template>