<div class="alert-box">
    <form (ngSubmit)="createCar()" #createCarForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title">Dodawanie samochodu</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="emailInput">Nazwa:</label>
                <input type="name" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Wpisz nazwę samochodu..."
                    [(ngModel)]="model.name" name="name" required>
            </div>
            <div *ngFor="let invalidProperty of errors">
                <div class="alert alert-danger" *ngFor="let error of invalidProperty | validationError">{{error}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!createCarForm.form.valid">Dodaj</button>
        </div>
    </form>
</div>