<div id="chat">
    <div id="messages-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let message of messages">
            <div class="date">{{message.createdAt | date:'yyyy-MM-dd hh:mm'}}</div>
            <div class="alert" [ngClass]="{'alert-secondary': message.user?.id != userId, 'alert-primary': message.user?.id == userId}">
                <strong>{{message.user?.firstName}} {{message.user?.lastName}}</strong>: {{message.content}}
            </div>
        </div>
    </div>
</div>

<div class="input-group my-3">
    <input [(ngModel)]="message" (keyup.enter)="sendMessage()" (input)="onInputChange($event.target.value)" type="text" class="form-control"
        placeholder="Wpisz wiadomość">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="sendMessage()">Wyślij</button>
    </div>
</div>