<button type="button" class="btn btn-primary" (click)="openRegistrationModal(registration)">Zarejestruj się</button>

<ng-template #registration>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Rejestracja</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="registrationModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
            <div class="form-group">
                <label for="email">Adres email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Wprowadź email" [(ngModel)]="model.email" required
                />
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="password">Hasło:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Wprowadź hasło" [(ngModel)]="model.password"
                        required />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password-confirmation">Powtórz hasło:</label>
                    <input type="password" class="form-control" id="password-confirmation" name="passwordConfirmation" placeholder="Powtórz hasło"
                        [(ngModel)]="model.passwordConfirmation" required>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="first-name">Imię:</label>
                    <input type="text" class="form-control" id="first-name" name="firstName" placeholder="Wprowadź imię" required [(ngModel)]="model.firstName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last-name">Nazwisko:</label>
                    <input type="text" class="form-control" id="last-name" name="lastName" placeholder="Wprowadź nazwisko" required [(ngModel)]="model.lastName">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="address">Adres:</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Wprowadź adres" required [(ngModel)]="model.address">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phone">Numer telefonu:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Wprowadź numer telefonu" [(ngModel)]="model.phoneNumber">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="company" name="isCompany" [(ngModel)]="model.isCompany">
                    <label class="form-check-label" for="company">
                        Firma
                    </label>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-md-6 mb-3" *ngIf="model.isCompany">
                    <label for="company-name">Nazwa firmy:</label>
                    <input type="text" class="form-control" id="company-name" name="companyName" placeholder="Wprowadź nazwę firmy" [(ngModel)]="model.companyName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="identification-number">{{ model.isCompany ? 'NIP' : 'PESEL'}}:</label>
                    <input type="text" class="form-control" id="identification-number" name="identificationNumber" placeholder="Wprowadź {{ model.isCompany ? 'NIP' : 'PESEL'}}"
                        [(ngModel)]="model.identificationNumber" />
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rules-agreement" name="rulesAgreement" required [(ngModel)]="model.rulesAgreement">
                    <label class="form-check-label" for="rules-agreement">
                        Zaakceptuj regulamin.
                    </label>
                </div>
            </div>

            <div *ngFor="let invalidProperty of errors">
                <div class="alert alert-danger" *ngFor="let error of invalidProperty | validationError">{{error}}</div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button class="btn btn-primary" type="submit">Zarejestruj</button>
            </div>
        </form>

    </div>
</ng-template>