<div *ngIf="order" class="card">
    <div class="card-body">
        <h5 class="card-title">Zlecenie {{order.id}}</h5>
        <h6 class="card-subtitle mb-3">
            <b>Status: </b> {{order.state | orderState}}</h6>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td scope="col">Usługa</td>
                    <td scope="col">Opis</td>
                    <td scope="col">Ukończono</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderService of order.orderServices">
                    <td>
                        {{orderService.service.name}}
                    </td>
                    <td>
                        {{orderService.service.description}}
                    </td>
                    <td>
                        {{orderService.isCompleted ? 'Tak' : 'Nie'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!order" class="alert alert-danger">
    <strong>Ups!</strong>
    Nie ma takiego zlecenia!
</div>