<button type="button" class="btn btn-primary fixed-help" (click)="openModal(template)">Pomoc</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Pomoc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body help-message">{{helpMessage}}</div>
</ng-template>