<div id="background" class="d-flex flex-column justify-content-between">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a routerLink="/" class="navbar-brand">Serwis Samochodowy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Przełącz nawigację" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="openStatusModal(status); $event.preventDefault()" href="#">Sprawdź status zlecenia</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <app-login></app-login>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <app-registration></app-registration>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3 mb-3 d-flex flex-column flex-fill justify-content-between">
            <router-outlet></router-outlet>
            <div *ngIf="isActivated" class="alert alert-success">Konto aktywowane!</div>
            <h1 class="headline mt-5 mb-5">Od nas samochód zawsze wyjeżdża!</h1>
    </div>
    <ng-template #status>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Sprawdź status</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="statusModal.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input name="orderId" [(ngModel)]="orderId" type="text" class="form-control" placeholder="Wpisz numer zlecenia">
                </div>
                <div class="form-group">
                    <button type="submit" [routerLink]="['/order-status', orderId]" (click)="statusModal.hide()" class="btn btn-primary">Sprawdź</button>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #resetPassword>
        <div class="modal-header">
            <h3 class="modal-title pull-left">Resetuj hasło</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="resetPasswordModal.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="resetPasswordSubmit()" #resetPasswordForm="ngForm">
                <div class="form-group">
                    <h4 class="modal-title pull-left">Wpisz hasło:</h4>
                    <input name="resetPasswordModel.password" [(ngModel)]="resetPasswordModel.password" name="resetPassword" type="password" class="form-control" placeholder="Hasło">
                </div>
                <div class="form-group">
                    <h4 class="modal-title pull-left">Powtórz hasło:</h4>
                    <input name="resetPasswordModel.passwordConfirmation" [(ngModel)]="resetPasswordModel.passwordConfirmation" name="resetPasswordConfirmation" type="password" class="form-control" placeholder="Hasło">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Zatwierdź</button>
                </div>
            </form>
        </div>
      </ng-template>
</div>
<app-help></app-help>