.fill { 
    width: 100%;
    height: 100%;
}

#background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../../assets/lykan_background.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: black;
}

.headline {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}