<h1 class="mt-3 mb-3">
    Usługi
</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Cena</th>
            <th scope="col">Części</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services">
            <td>{{service.id}}</td>
            <td>{{service.name}}
                <span *ngIf="service.isChoosable" class="badge badge-primary">Wybieralna</span>
            </td>
            <td>{{service.description}}</td>
            <td>{{service.price}}zł</td>
            <td>
                <span *ngFor="let part of service.parts" class="badge badge-secondary mr-1">{{part.name}}</span>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="openEditServiceModal(editServiceTemplate, service)">Edytuj</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openDeleteServiceModal(deleteServiceTemplate, service)">Usuń</button>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-success mt-4" (click)="openNewServiceModal(editServiceTemplate)">Dodaj usługę</button>

<ng-template #editServiceTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ isEdit ? 'Edytuj usługę' : 'Dodaj usługę' }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Nazwa usługi:</label>
            <input type="text" class="form-control" placeholder="Wpisz nazwę" [(ngModel)]="serviceModel.name" required>
        </div>
        <div class="form-group">
            <label>Cena:</label>
            <div class="input-group">
                <input type="number" step="0.01" class="form-control" placeholder="Podaj cenę" [(ngModel)]="serviceModel.price" required>
                <div class="input-group-append">
                    <span class="input-group-text">zł</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Opis:</label>
            <input type="text" class="form-control" placeholder="Wprowadź opis" [(ngModel)]="serviceModel.description" required>
        </div>

        <div class="form-inline">
            <select class="custom-select my-2 mr-2" name="partIds" [(ngModel)]="selectedPartId" [disabled]="!availableParts().length">
                <option selected hidden [value]="undefined">Wybierz część</option>
                <option *ngFor="let part of availableParts(); let i = index" [value]="part.id">{{part.name}}</option>
            </select>
            <button type="button" class="btn btn-primary" (click)="addSelectedPart()" [disabled]="!selectedPartId">Dodaj do listy</button>
        </div>

        <div class="form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Wybrane części</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let partId of serviceModel.partIds; let i = index">
                        <ng-container *ngIf="getPart(partId); let part">
                            <td>{{part.name}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" (click)="removePart(i)">Usuń</button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is-choosable" name="isChoosable" required [(ngModel)]="serviceModel.isChoosable">
                <label class="form-check-label" for="is-choosable">
                    Wybieralna.
                </label>
            </div>
        </div>
        <button type="button" class="btn btn-primary mt-4" (click)="submit()">{{ isEdit ? 'Zapisz' : 'Dodaj' }}</button>
    </div>
</ng-template>

<ng-template #deleteServiceTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Usuń istniejącą usługę</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteServiceModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p>Czy na pewno chcesz usunąć usługę?</p>
            <button type="button" class="btn btn-danger" (click)="deleteService()">Usuń</button>
        </div>
    </div>
</ng-template>