<h1 class="mt-3 mb-3">
    Zlecenia
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Zlecenie</th>
            <th scope="col">Klient</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        <tr style="cursor: pointer" *ngFor="let order of this.orders" [routerLink]="['../orders', order.id]"
            class="clickable-row">
            <td>{{order.id}}</td>
            <td *ngIf="!order.client.isCompany"> {{order.client | fullName}} </td>
            <td *ngIf="order.client.isCompany"> {{order.client.companyName}}
                <span class="badge badge-secondary">Firma</span>
            </td>
            <td>{{order.state | orderState}}</td>
            <td>{{order.term | date:'yyyy-MM-dd hh:mm'}}</td>
        </tr>
    </tbody>
</table>