<h1>Umawianie wizyty</h1>
<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8">
    <br>
    <div class="visits">
      <h3>Wybierz samochód:</h3>

      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Marka:
          <span class="caret"></span>
        </button>

        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Audi r8 Spyder</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Jaguar F-type</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Maserati ghibili</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Dodaj inną markę</a>
          </li>
        </ul>
      </div>

      <h3>Wybrano:</h3>
      <accordion>
        <accordion-group heading="Audi r8 Spyder">
          Szczegóły:
        </accordion-group>
      </accordion>
      <br>
      <h3>Wybierz usługi:</h3>

      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Usługa:
          <span class="caret"></span>
        </button>

        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Czyszczenie tapicerki</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Wymiana wycieraczek</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Naprawa klimatyzacji</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Dodaj inną usługę</a>
          </li>
        </ul>
      </div>

      <h3>Wybrano:</h3>
      <accordion>
        <accordion-group heading="Czyszczenie okien">
          Szczegóły:
        </accordion-group>
      </accordion>
      <br>
      <button class="btn btn-success" (click)="dp.toggle()">Umów wizytę</button>
    </div>

  </div>
  <div class="col-6 col-md-4">
    <br>
    <h3>Wybierz godzinę:</h3>
    <timepicker [(ngModel)]="myTime" [showMeridian]="isMeridian" [readonlyInput]="!readonly"></timepicker>
    <hr>

    <h3>Wybierz datę:</h3>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  </div>
</div>