<button type="button" class="btn btn-primary" (click)="openLoginModal(login)">Zaloguj się</button>

<ng-template #login>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Logowanie</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <label for="emailInput">Adres email:</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Wpisz email" [(ngModel)]="credentialsModel.email"
                    name="email" required>
            </div>
            <div class="form-group">
                <label for="passwordInput">Hasło:</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Wpisz hasło" [(ngModel)]="credentialsModel.password"
                    name="password" required>
            </div>
            <div *ngFor="let invalidProperty of errors">
                <div class="alert alert-danger" *ngFor="let error of invalidProperty | validationError">{{error}}</div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Zaloguj</button>

                <!--DEBUG-->
                <button type="submit" (click)="signInAsWorker()" class="btn btn-primary">Zaloguj jako pracownik (Debug)</button>
                <button type="submit" (click)="signInAsClient()" class="btn btn-primary">Zaloguj jako klient (Debug)</button>
                <!--DEBUG-->

            </div>
            <a (click)="openResetPasswordModal(resetPassword)" style="cursor: pointer;">Zapomniałeś hasła?</a>
        </form>
    </div>
</ng-template>

<ng-template #resetPassword>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Resetowanie hasła</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetPasswordModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="submitPasswordReset()" #resetPasswordForm="ngForm">
            <div class="form-group">
                <label for="email">Adres email:</label>
                <input type="email" class="form-control" id="email" name="name" [(ngModel)]="resetEmail" aria-describedby="emailHelp" placeholder="Wpisz email" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.form.valid">Resetuj hasło</button>
            </div>
        </form>
    </div>
</ng-template>