<h1 class="mt-3 mb-3">
    Części
</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Ilosc</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let part of parts">
            <td>{{part.id}}</td>
            <td>{{part.name}}</td>
            <td>{{part.count}}</td>
            <td>
                <button type="button" class="btn btn-warning" (click)="openEditPartModal(editPartTemplate, part)">Edytuj</button>
                <ng-template #editPartTemplate>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Edytuj część</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="editPartModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nazwa części:</label>
                            <input type="text" class="form-control" placeholder="Wpisz nazwę" [(ngModel)]="updateModel.name" required>
                        </div>
                        <div class="form-group">
                            <label>Ilość:</label>
                            <input type="number" step="1" min="0" class="form-control" placeholder="Wpisz ilość" [(ngModel)]="updateModel.count" required>
                        </div>
                        <button type="button" class="btn btn-primary mt-4" (click)="updatePart()">Zapisz</button>

                    </div>
                </ng-template>

                <button type="button" class="btn btn-danger" (click)="openDeletePartModal(deletePartTemplate, part)">Usuń</button>
                <ng-template #deletePartTemplate>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Usuń część</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="deletePartModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Czy na pewno chcesz usunąć część?</label>
                        </div>
                        <button type="button" class="btn btn-primary mt-4" (click)="deletePart()">Zatwierdź</button>

                    </div>
                </ng-template>
            </td>
        </tr>
    </tbody>

</table>

<button type="button" class="btn btn-success mt-4" (click)="openNewPartModal(newPart)">Dodaj część</button>
<ng-template #newPart>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Dodaj nową część</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newPartModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Nazwa części:</label>
            <input type="text" class="form-control" placeholder="Wpisz nazwę" [(ngModel)]="createModel.name" required>
        </div>
        <div class="form-group">
            <label>Ilość:</label>
            <input type="number" step="1" min="0" class="form-control" placeholder="Wpisz ilosc" [(ngModel)]="createModel.count" required>
        </div>
        <button type="button" class="btn btn-success mt-4" (click)="createPart()">Dodaj</button>

    </div>
</ng-template>