<br>
<h1>Usługi</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usługa</th>
      <th scope="col">Cena</th>
      <th scope="col">Utworzone przez</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Wymiana silnika</td>
      <td>6zł</td>
      <td>Marek</td>
      <td>

        <button type="button" class="btn btn-primary" (click)="openModal(template)">Edytuj</button>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Edycja usługi</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="services">Usługa:</label>
                <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
              </div>
              <div class="form-group">
                <label for="price">Cena:</label>
                <input type="servicesPrice" class="form-control" id="exampleInputPassword1" placeholder="Wpisz cenę usługi">
              </div>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

        <ng-template #template2>
          <div class="modal-header">
            <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Naprawa klimatyzacji</td>
      <td>30zł</td>
      <td>Dariusz</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Edytuj</button>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Edycja usługi</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="services">Usługa:</label>
                <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
              </div>
              <div class="form-group">
                <label for="price">Cena:</label>
                <input type="servicesPrice" class="form-control" id="exampleInputPassword1" placeholder="Wpisz cenę usługi">
              </div>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

        <ng-template #template2>
          <div class="modal-header">
            <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Wymiana opon</td>
      <td>15zł</td>
      <td>Adam</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Edytuj</button>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Edycja usługi</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="services">Usługa:</label>
                <input type="servicesName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę usługi">
              </div>
              <div class="form-group">
                <label for="price">Cena:</label>
                <input type="servicesPrice" class="form-control" id="exampleInputPassword1" placeholder="Wpisz cenę usługi">
              </div>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template2)">Usuń</button>

        <ng-template #template2>
          <div class="modal-header">
            <h4>Czy na pewno chcesz usunąć to zamówienie?</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <button type="button" class="btn btn-primary">
                Zatwierdź
              </button>
            </form>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>