<h1 class="mt-3 mb-3">
    Powiadomienia
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Numer zlecenia</th>
            <th scope="col">Treść</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let notification of notifications" [ngClass]="{'bold-text': notification.readAt == null}" routerLink="./../orders/{{notification.order.id}}"
            class="clickable-row">
            <td>{{notification.order.id}}</td>
            <td>{{notification.message}}</td>
            <td>{{notification.createdAt | date:'yyyy-MM-dd hh:mm'}}</td>
        </tr>
        <tr *ngIf="!notifications.length">
            <td colspan="3">Brak powiadomień</td>
        </tr>
    </tbody>
</table>