<div *ngFor="let notification of notificationsService.getNotifications()">
  <ng-container *ngIf="notification.readAt == null && canNotificationBeDisplayed(notification.orderId)">
    <a class="dropdown-item" (click)="notificationsService.setAsReaded(notification.id)" routerLink="./orders/{{notification.orderId}}">
      <b>{{notification.orderId}}:</b> {{notification.message}}
      <div class="date">{{formatDate(notification.createdAt) + " " + formatTime(notification.createdAt)}}</div>
    </a>
  </ng-container>
</div>